/* Entire page related*/
html{
  scroll-behavior:smooth
}

.loading-screen {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
  z-index: 9999;
  text-align: center;
	background: url("./images/Pulse-1s-200px.gif") center no-repeat #2C3A42;
}

nav{
  width: 90%;
}

a:hover{
  color: #3282B8 !important;
  text-decoration: none !important;
}

section{
  min-height: 100vh;
}

.section-title{
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;

}

.section-subtitle{
  font-family: 'Quicksand', sans-serif;
  color: #3282B8;
  margin-bottom: 3%;
}

.container-fluid{
  /*background adapted from: https://projects.verou.me/css3patterns/#starry-night*/
  background-color: #1B262C;
  background-image:
    radial-gradient(#FFFFFF, rgba(255,255,255,.15) 1px, transparent 10px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 1px, transparent 10px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px; 
}

.nav-link{
  color:#BBE1FA;
  font-size: 1.3em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}


/* LANDING PAGE */

.swe{
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  display:inline;
  line-height: 190%;
  color: #3282B8;
}

.name{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  display: inline;
  color: #FFFFFF;
}

.gradient-line{
  width: 10px;
  height: 250px;
  background: linear-gradient(180deg, #3282B8 31.25%, rgba(245, 245, 245, 0) 100%);
}

.introduction{
  margin-bottom: 5%;
  margin-top: 10%;
}

.intro-message{
  color:#C5DBEB;
  font-family: 'Work Sans', sans-serif;
}

.logo{
  width: 40px;
  height: 40px;
}

.fa-github, .fa-linkedin, .fa-envelope{
  color: #BBE1FA;
  display:block;
}

.fa-github:hover, .fa-linkedin:hover, .fa-envelope:hover{
  color: #3282B8;
}

.contact-logos{
  text-align:center;
}

.fa-angle-double-down{
  font-size: 2.5em;
}

.fa-gradient {
  background: rgb(50,130,184);
  background: linear-gradient(180deg, rgba(50,130,184,1) 25%, rgba(87,149,191,1) 47%, rgba(135,184,217,1) 80%);
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}



/*ABOUT*/

#about{
  margin-top: 15%;
  margin-bottom:15%;
}

.about-text{
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
}

.left-gradient{
  margin-left: 5%;
}

.dp{
  display:inline;
  margin-left: 35%;
  margin-right: 3%;
  border-radius: 15px;
}

.individual-skill{
  background-color: #2c3a42;
  border-radius: 5px;
}

.fa-paint-brush, .fa-laptop-code, .fa-code-branch{
  color:#2FAFE5;
  font-size: 3em;
}

.individual-skill-logo{
  margin: 5%;
  text-align: center;
}

.individual-skill-title{
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  text-align: center;
}

.individual-skill-desc{
  font-family: 'Work Sans', sans-serif;
  color: #FFFFFF;
  text-align: center;
  line-height: 130%;
}

#skills{
  margin-left: 13%;
}

.carousel{
  margin: 0 auto;
  border-radius: 5px;
}

.carousel-caption{
  background-color: rgb(0,0,0,0.6);
}

.carousel-control-prev:hover, .carousel-control-next:hover{
  background-color: rgb(0,0,0,0.2);
}

.carousel-links{
  text-decoration: underline;
  color: #FFFFFF;
}

.carousel-links:hover{
  cursor: pointer;
  text-decoration: underline;
}

.carousel-inner > .carousel-item > img {
  border-radius:5px;
}

.fa-chevron-left, .fa-chevron-right{
  color: #000000;
  font-size: 2em;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/*CONTACT*/

#contact{
  padding-bottom: 10%;
}

form{
  background-color: #3282B8;
  margin: 0 auto;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
}

input, textarea{
  width: 100%;
  height: 5vh;
  background-color: #c4c4c4;
  border: 1px solid #8a8b8d;
  padding-left: 3%;
  border-radius: 5px;
}

input:focus{
  outline: none;
}

textarea:focus{
  outline: none;
}

textarea{
  padding-top: 3%;
}

#submit-btn{
  width: 20%;
  border-radius: 5px;
  font-weight: 600;
  padding: 1%;
  background:#C4C4C4;
  border:none;
  margin-bottom: 1%;
  outline:none;
}

#submit-btn:hover{
  width: 20%;
  border-radius: 5px;
  font-weight: 600;
  padding: 1%;
  background:#a8b6e0;
  border:none;
}

::placeholder{
  font-family: 'Lato', sans-serif;
  color: black;
  font-style: italic;
}

#email-result{
  color: #FFFFFF;
}

footer{
  color:#FFFFFF;
  width: 100vw;
  padding: 1% 0 1% 0;
  background-color:#2C3A42;
  text-align:center;
}

#scroll-btn {
  display: none;
  position: fixed;
  bottom: 5%;
  left: 5%;
  z-index: 99;
  font-size: 2em;
  color: #BBE1FA;
  cursor: pointer;
}

/* Small Devices in portrait phones, i.e. phones */
@media (min-width: 320px) {
  .name{
    font-size:3em;
    text-align: center;
  }

  .gradient-line{
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 90%;
    height: 10px;
    background: linear-gradient(90deg, rgba(245, 245, 245, 0), #3282B8, rgba(245, 245, 245, 0) 100%);
  }

  .swe{
    font-size: 2.5em;
    text-align: center;
  }

  .fa-github, .fa-linkedin, .fa-envelope{
    display: inline;
    margin: 1.5%;
    font-size: 1.5em;
  }

  #transition{
    margin-top: 20%;
  }

  .intro-message{
    font-size: 1em;
    margin-bottom: 10%;
  }

  .disappear{
    display: none;
  }

  .dp{
    width: 40%;
    height: 40%;
    margin-left: 30%;
  }

  .about-text{
    margin: 10% 20% 20% 20%;
    font-size: 0.9em;
    text-align: center;
  }

  #skills{
    margin:0;
  }

  .individual-skill{
    margin: 0 10% 10% 13%;
    max-width: 75% !important;
  }

  .individual-skill-title{
    font-size: 1.2em;
  }

  .individual-skill-desc{
    margin:0 0 10% 0;
    font-size: 0.9em;
  }

  .section-title{
    font-size: 2.5em;
    margin-left: 10%;
  }
  
  .section-subtitle{
    font-size: 1.5em;
    margin-left: 15%;
  }

  .carousel{
    width: 80vw;
    height: 35vh;
  }

  .carousel-inner > .carousel-item > img {
    width: 80vw;
    height: 35vh;
  }

  #projects{
    margin-top: 30%;
    margin-bottom: -30vh;
  }

  input{
    height: 5vh;
  }

  textarea{
    height: 40vh;
  }

  form{
    width: 80vw;
    padding: 5%;
    font-size: 0.8em;
  }

  #submit-btn, #submit-btn:hover{
    width: 30%;
  }

  footer{
    padding: 5% 0 5% 0;
  }
}

/* Smaller phones in landscape mode */
@media (min-width: 568px) and (orientation: landscape) { 
  .section-title{
    font-size: 3em;
    margin-left: 10%;
  }
  
  .section-subtitle{
    font-size: 1.5em;
    margin-left: 15%;
  }

  .about-text{
    font-size: 1em;
  }

  .carousel{
    width: 80vw;
    height: 90vh;
  }

  .carousel-inner > .carousel-item > img {
    width: 80vw;
    height: 90vh;
  }

  #projects{
    margin-top: 35%;
    margin-bottom: 30%;
  }

  input{
    height: 10vh;
  }

  textarea{
    height: 60vh;
  }

  form{
    width: 90%;
  }

  #submit-btn, #submit-btn:hover{
    width: 30%;
  }

  footer{
    padding: 5% 0 5% 0;
  }
}

/* Large phones on landscape and moderate-sized tablets*/
@media (min-width: 768px) { 

  .name{
    font-size: 4.5em;
  }

  .swe{
    font-size: 3em;
  }

  .fa-github, .fa-linkedin, .fa-envelope{
    display: inline;
    margin: 1.5%;
    font-size: 2em;
  }

  #transition{
    margin-top: 15%;
  }

  .intro-message{
    font-size: 1.5em;
    margin-bottom: 10%;
  }

  .dp{
    width: 30%;
    height: 30%;
    margin-left: 35%;
  }

  .about-text{
    margin: 10% 20% 10% 20%;
    font-size: 1.2em;
    text-align: center;
  }

  #skills{
    margin:0;
  }

  .individual-skill{
    margin: 0 20% 10% 20%;
    max-width: 60% !important;
  }

  .individual-skill-title{
    font-size: 1.5em;
  }

  .individual-skill-desc{
    margin:0 0 10% 0;
    font-size: 1em;
  }

  .section-title{
    font-size: 3em;
    margin-left: 10%;
  }
  
  .section-subtitle{
    font-size: 1.5em;
    margin-left: 15%;
  }

  form{
    width: 90%;
    font-size: 1em;
  }

  textarea{
    height: 50%;
  }

  #submit-btn, #submit-btn:hover{
    width: 25%;
  }

  footer{
    padding: 5% 0 5% 0;
  }
}

/*portrait -> most likely tablet (portrait)*/
@media (min-device-width : 768px) 
and (orientation : portrait) { 
  .carousel{
    width: 80vw;
    height: 40vh;
  }

  .carousel-inner > .carousel-item > img {
    width: 80vw;
    height: 40vh;
  }

  #projects{
    margin-top: 35%;
    margin-bottom: -20%;
  }

  input{
    height: 5vh;
  }

  textarea{
    height: 40vh;
  }
}

/*landscape -> most likely phones (landscape), viewport height is very small so height % needs to be increased*/
@media (min-device-width : 768px) 
and (orientation : landscape) { 
  .carousel{
    width: 80vw;
    height: 90vh;
  }

  .carousel-inner > .carousel-item > img {
    width: 80vw;
    height: 90vh;
  }

  input{
    height: 12vh;
  }

  textarea{
    height: 80vh;
  }

  #projects{
    margin-top: 10%;
    margin-bottom: 20%;
  }

}

/*Large portrait tablets (e.g. ipad pro) or moderately-sized landscape tablets*/
@media (min-width: 992px) { 
  .name{
    font-size: 6em;
  }

  .swe{
    font-size: 4.5em;
  }

  .fa-github, .fa-linkedin, .fa-envelope{
    display: inline;
    margin: 1.5%;
    font-size: 2.5em;
  }

  #transition{
    margin-top: 15%;
  }

  .intro-message{
    font-size: 2em;
    margin-bottom: 5%;
  }

  #skills{
    margin-left: 13%;
  }

  .individual-skill{
    margin:0 2% 0 2%;
  }

  .section-title{
    font-size: 5em;
    margin-left: 15%;
  }

  .section-subtitle{
    font-size: 2em;
    margin-left: 20%;
  }

  .carousel{
    width: 80vw;
    height: 70vh;
  }

  .carousel-inner > .carousel-item > img {
    width: 80vw;
    height: 70vh;
  }

  form{
    width: 80%;
    padding: 3%;
  }

  footer{
    padding: 3% 0 3% 0;
  }

  input{
    height: 5vh;
  }

  textarea{
    height: 60vh;
  }

  footer{
    padding: 2% 0 2% 0;
  }

}

/*portrait -> most likely large tablet (portrait)*/
@media (min-device-width : 992px) 
and (orientation : portrait) { 
  .carousel{
    width: 80vw;
    height: 40vh;
  }

  .carousel-inner > .carousel-item > img {
    width: 80vw;
    height: 40vh;
  }

  input{
    height: 4vh;
  }

  textarea{
    /* padding: 2vw; */
    height: 40vh;
  }

  #projects{
    margin-top: 0;
    margin-bottom: -20%;
  }

}

/*Large landscape tablets e.g. ipad pro and laptops*/
@media (min-width: 1200px) { 

  .swe{
    font-size:4em;
    text-align: left;
  }

  .gradient-line{
    width: 10px;
    height: 250px;
    margin: 0 1% 0 1%;
    background: linear-gradient(180deg, #3282B8 31.25%, rgba(245, 245, 245, 0) 100%);
  }
  
  .name{
    font-size:5em;
    text-align: right;
  }

  .fa-github, .fa-linkedin, .fa-envelope{
    color: #BBE1FA;
    font-size: 2em;
    margin: 1%;
  }

  #transition{
    margin-top: 10%;
  }

  .intro-message{
    font-size: 1.5em;
    margin-bottom: 3%;
  }

  .disappear{
    display: block;
  }

  #about{
    margin-top:-10%;
  }

  .about-text{
    margin: 0 30% 15% 2%;
    font-size: 1.2em;
    text-align: left;
  }
  
  .dp{
    margin-left: 35%;
    margin-right: 3%;
    width: 10%;
    height: 10%;
  }

  #skills{
    margin-left: 10%;
  }
  
  .section-title{
    font-size: 4.5em;
    margin-left: 20%;
  }

  .section-subtitle{
    font-size: 2em;
    margin-left: 25%;
  }

  #projects{
    margin-bottom: 10%;
  }

  #submit-btn, #submit-btn:hover{
    width: 20%;
  }

  form{
    width: 60%;
    font-size: 1.2em;
  }

  input{
    height: 4.5vh;
  }

  textarea{
    height: 50vh;
  }

  footer{
    padding: 2% 0 2% 0;
  }
}

/*Desktop screens; only need to adapt few tiems*/
@media (min-width: 1920px) {

  .carousel{
    width: 70vw;
    height: 70vh;
  }

  .carousel-inner > .carousel-item > img {
    width: 80vw;
    height: 70vh;
  }

  form{
    width: 50%;
  }

  textarea{
    height: 40vh;
  }
}
